<div class="ask-container">
  <h1>Stupid Coaching</h1>
  <h2><i class="far fa-question-circle"></i></h2>
  <p>Ask your coach anything</p>

  <div class="ask-form">
    <form action="answer">
      <input type="text" name="question" class="text-input">
      <input type="submit" value="Ask!" class="submit-button">
    </form>
  </div>
</div>
